<!--Assigns the title of the tab in ones web browser-->
@{
    ViewData["Title"] = "Home Page";
}
<!--This represents the homepage of the website-->
<div class="text-center">
    <h1 style="font-size:75px;",class="display-4">Joke Application </h1>
    <p style="font-size: 25px;">
        "Why did the bicycle fall over?"
        <br />
        "Because it was two-tired!"
    </p>
</div>